<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">

</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/homePage.png') }}" alt="Quiz Image">
        </div>
        <div class="content-container">
            <h1>Quiz Time</h1>
            <form action="/" method="POST">
                <input type="submit" value="Let's Start">
            </form>
        </div>
    </div>
</body>
</html>
